<!DOCTYPE html>

<html>
    <head>
        <title>Error</title>
        <link rel="icon" href="./img/title.png">
        <link rel='stylesheet' href="./css/styles.css"/>
    </head>
    <body>
        <div class="main-conent">
            {{>header}}

        <h1> {{error}}</h1>
        </div>
        

        {{>footer}}
    </body>
</html>